// n is number of stars required
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(350);
$shadows-medium: multiple-box-shadow(100);
$shadows-big: multiple-box-shadow(50);

.parallax {
  height: 80vh;
  width: 100vw;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.starsContainer {
  background-size: cover !important;
  background-position: center;
  background-image: url("../../../assets/home/sky.jpg");

  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  .stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  .stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}

.moon {
  visibility: hidden;
  background: #c4c4c4;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  left: calc(50% - 10em);
  top: 20%;
  filter: drop-shadow(0px 0px 125px #a5a5a5);
  // box-shadow: 0 0 5px 0.6em rgba(255, 255, 255, 0.07),
  // 0 0 7px 1.2em rgba(255, 255, 255, 0.05), 0 0 8px 1.8em rgba(255, 255, 255, 0.02);

  &:after {
    position: absolute;
    content: "";
    background-color: #c4c4c4;
    height: 0.9em;
    width: 0.9em;
    border-radius: 50%;
    top: 6.75em;
    left: 5.25em;
    box-shadow: 0.9em -2.1em 0 0.2em #e6e6e6, 1.5em -0.3em 0 -0.06em #e6e6e6;
  }
}

.title {
  top: 10.5%;
  z-index: 10;

  color: rgb(207, 202, 195);
  text-align: center;
  letter-spacing: 7px;
}

.mountain_background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/home/background_mountains.png");
}

.painter {
  height: 103vh;

  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  background-position: 60%;
  background-image: url("../../../assets/home/painter.png");
}

.mountain_foreground {
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/home/foreground_mountains.png");
}

.subtitle {
  font-variant: small-caps;
}

@media (min-width: 768px) {
  .title {
    right: 8%;
    top: 6%;
    text-align: right;
  }

  .moon {
    left: 10%;
    top: 12%;
    visibility: visible;
  }
}