.contact_container {
  height: auto;
  width: 100vw;
  position: relative;
  background: #22052c;
  background: linear-gradient(
    0deg,
    rgba(4, 1, 21, 1) 0%,
    rgba(34, 5, 44, 1) 50%,
    rgba(34, 5, 44, 1) 100%
  );
  padding-bottom: 60px;
}
