.menu {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.menubtn {
  z-index: 3;
}

.mobileNav {
  display: none;
}
.desktopNav {
  width: 100%;
  padding: 40px 40px;
}

@media (max-width: 750px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    position: absolute;
    margin-top: 20px;
    right: 20px;
  }
}
