// @import "node_modules/bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body {
  background-color: #22052c;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
